*,
*::before,
*::after {box-sizing: border-box;}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;}
 ul, ol {
list-style: none;
margin: 0;
padding: 0;
        }
a { text-decoration: none;}
img {
    display: block;
    max-width: 100%;
}

body {font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF;
    font-style: normal;
     }

h3 {color: #2E2F44;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}
input {all: unset;}

/*======HEADER======*/
.container {
    margin: 0 auto;
    max-width: 320px;
    padding: 0 16px;
 } 
.head-up { 
    border-bottom: 1px solid  #E7E9FC;
    background-color:  #FFF;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    position: relative;
}

.nav-list, .address {display: none;}

.conthead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mob-button-open {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.mob-open-icon {fill: 2F2F37;}
.logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    padding: 17px 0;
}
.akcent {
    color: #2E2F42;
}
.menu-mobile {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: 24px 24px 40px 16px;
    overflow: auto;
    margin: 0 auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mob-button-close {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: auto;
    margin-bottom: 24px;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.10);
}

.mob-navi {margin-bottom: 25px;}
.mob-navi-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.mob-list-item {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.mob-studio-item {
    color: #404BBF;
}
.mob-address {
    margin-bottom: 48px;
}
.mob-address-ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.mob-address-ul .mob-contact {
    font-style: normal;
    color: #4D5AE5;;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.mob-item .mob-mail {color: #434455;}
.mob-social-ul {
    display: flex;
    gap: 40px;
}
.mob-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border: none;
    border-radius: 50%;
}

/*=====H1111=====*/

.sect-main {
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/dark-bgmob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
    margin: 0 auto;
}
@media (min-resolution: 192dpi) {
    .sect-main {background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/dark-bgmob2.jpg);}
}
.sec-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.title {
    max-width: 216px;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.but {
    min-width: 169px;
    height: 56px;
    display: block;
    margin: auto;
    border-radius: 4px;
    background-color: #4d5ae5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
}

/*=====ABOUT=====*/

.about {
    padding: 96px 0;
}

.about-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}
.icon-wraper {
    display: none;
}
.about-li {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}
.about .benefit {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    align-self: center;
    padding-left: 0;
}

.about .text {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*=====OURTEAM=====*/
.sect-team {
    background-color: #F4F4FD;
    padding: 96px 0;
}

.group {
    padding: 0 28px;
}

.container .team-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.list .person {
    border-radius: 0px 0px 4px 4px;
    background-color: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.person-cont {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.prof {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
}

.social-icons-group {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
}

.social-icon {
    fill: #f4f4fd;
}
/*======PORTFOLIO=======*/
.portfolio {padding: 96px 0;}
.our-port {
    color:  #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.port-ul {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.elements {
    border: 1px solid #F4F4FD;
    box-shadow:0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.img-text {display: none;
}
.el-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding:32px 16px;
}
.prod-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*=====FOOTER===320==*/
.foot {
    background-color: #2E2F42;
    padding: 96px 0;
}
.foot-cont-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}
.foot-container .logo {
    text-align: center;
    padding: 0;
    margin-bottom: 16px;
    padding: 0;
}
.foot-container .akcent {
    color: #f4f4fd;
}
.foot-text {
    color: #F4F4FD;
    font-size: 16px;;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-paragraf {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}
.social-icons-foot {
    display: flex;
    gap: 16px;

}
.social-link-foot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
}
.email-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.email-input {
    color: #FFFFFF;
    min-width: 270px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: inherit;
    opacity: 0.3;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
}
.email-input:focus {
    opacity: 1;
}
.email-input::placeholder {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
}
.foot-div-btn {
    width: 165px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
/*=====TABLET=====*/

@media screen and (min-width: 768px) {
.container {
    max-width: 768px;
}

.mob-button-open,
.menu-mobile {
    display: none;
}

.navi {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 120px;
    padding: 0;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-list-item {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
}

.first-item {
    color: #404BBF;
    position: relative;
}

.first-item::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #404BBF;
    position: absolute;
    bottom: -1px;
    display: block;
}
.studio-item {
        color: #404BBF;
    }
.address {
    display: block;
    font-style: normal;
}

.address-ul {
    display: flex;
     flex-direction: column;
    gap: 12px;
}

.contact {
    color: #434455;
    font-size: 12px;
        font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
    /*=====H1111=768====*/
.sect-main {
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/dark-bgtab.jpg);
}
@media (min-resolution: 192dpi) {
    .sect-main {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/dark-bgtab2.jpg);
    }
}

.sec-cont {
    gap: 36px;
    }
.title {
    max-width: 496px;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-transform: none;
}
  
 /*=====ABOUT=768====*/

.about-ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
}
.about-li {flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-basis: calc((100% - 24px) / 2);
    gap: 8px;
}
/*=====OURTEAM=768====*/
.group {
    padding: 0 108px;
}
.list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
}
.list .person {
    flex-basis: calc((100% - 24px) / 2);
}
/*======PORTFOLIO==768=====*/
.port-ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
}
.elements {width: calc((100% - 24px) / 2);}

/*=====FOOTER==768===*/
.foot-cont-div {
    padding-left: 108px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: flex-start;
    align-items: baseline;
}
.foot-container .logo {
    text-align: start;
}
.footer-paragraf {
    text-align: start;
}
.email-form {
    flex-direction: row;
    gap: 24px;
}
.email-input {
    min-width: 246px;
}
}

/*====COMPUTER=====*/

@media screen and (min-width: 1158px) {
    .container {
        padding: 0 15px;
        max-width: 1158px;
    }

    .nav-list-item {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-list-item:hover,
    .nav-list-item:focus {
        color: #404bbf;
    }

    .logo {
        margin-right: 76px;
    }

    .address-ul {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .contact {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact:hover,
    .contact:focus {
        color: #404bbf;
    }
/*=====H1=1158====*/

.sect-main {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office.jpg);
}
@media (min-resolution: 192dpi) {
    .sect-main {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office2.jpg);
    }
}
.sec-cont {
    gap: 48px;
}
.but {
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.but:hover,
.but:focus {
    background-color: #404BBF
}

/*=====ABOUT=1158====*/

.about {
    padding: 120px 0;
}
.about-ul {
    gap: 24px;
    flex-wrap: nowrap;
    align-items: baseline;
}
.icon-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
}
.about-li {
    flex-basis: calc((100% - 72px) / 4);
}
.about .benefit {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 8px 0;
}
.about .text {
    font-weight: 400;
}
/*=====OURTEAM=1158====*/
.sect-team {
    padding: 120px 0;
}
.list {
    flex-wrap: nowrap;
    gap: 24px;
}
.list .person {
    flex-basis: calc((100% - 72px) / 4);
}
.social-link {transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.social-link:hover,
.social-link:focus {background-color: #404BBF;}
/*======PORTFOLIO==1158=====*/
.portfolio {
    padding: 120px 0;
}
.port-ul {
    gap: 48px 24px;
}
.elements {
    box-shadow: none;
    border: none;
    width: calc((100% - 48px) / 3);
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}
.el-title {
    border: 1px solid #E7E9FC;
    border-top: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.elements:hover>.el-title,
.elements:focus>.el-title
 {box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);}
.img-overlay {
    position: relative;
    overflow: hidden;
}

.img-text {
    display: inline-block;
    text-align: left;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4D5AE5;
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
}
.img-overlay:hover .img-text {
    transform: translateY(0%);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/*=====FOOTER==1158===*/
.foot {
    background-color: #2e2f42;
    padding: 100px 0;
}
.foot-cont-div

}



/*.

.foot-container .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.foot-container .akcent { color: #f4f4fd;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.foot-cont-div{display: flex;
    margin: 0 auto;
    align-items: baseline;
}
.foot-container .foot-text {
    max-width: 264px;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.foot-container{margin-right: 120px;}

.social-link-foot {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-foot:hover,
.social-link-foot:focus,
.social-link-foot:active
{background-color: #31d0aa;}
.social-icons-foot {
    display: flex;
    gap: 16px;
}
.footer-p {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.subscribe-form{
    display: block;
    margin-left: 80px;
    }   

.subscribe-paragraf {
    display: block;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    }
.email-form {
    display: flex;
    gap: 24px;
}
.email-input {
    min-width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: inherit;
    color: #FFFFFF;
        font-size: 12px;
        font-weight: 400;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
}
.email-input::placeholder {
    color: #FFFFFF;
        font-size: 12px;
        font-weight: 400;
        line-height: 2;
        letter-spacing: 0.04em;
}
.foot-div-btn {
        display: flex;
        color: #FFF;
        background-color: #4D5AE5;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        min-width: 165px;
        height: 40px;
        padding: 8px 24px;
        border-radius: 4px;
        align-self: flex-end;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        }
    .foot-div-btn:hover,
    .foot-div-btn:focus {background-color: #404BBF;}
    .footer-icon {margin-left: 16px;}

    .backdrop {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.40);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }*/

/*
    .modal {
        width: 408px;
        min-height: 584px;
        flex-shrink: 0;
        border-radius: 4px;
        background-color: #FCFCFC;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 72px 24px 24px 24px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-close-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(0, 0, 0, 0.10);
        border-radius: 50%;
        background-color: #E7E9FC;
        width: 24px;
        height: 24px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: absolute;
        top: 24px;
        right: 24px;
        padding: 0;
        cursor: pointer;
    }
    .modal-close-icon { transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}
    .modal-close-btn:active, 
    .modal-close-btn:focus,
    .modal-close-btn:hover {
        background-color: #404BBF;
        border: none;
        fill: #FFFFFF;
    }

    .modal-title {
        color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 16px;
    }
    .modal-form-div {
        display: flex;
        flex-direction: column;
    }
    .modal-form-div {margin-bottom: 8px;}
    .area-div {margin-bottom: 16px;}
    .user-input {
        padding-left: 38px;
        width: 100%;
        height: 40px;
        border-radius: 4px;
        background-color: transparent;
        outline: transparent;
        border: 1px solid rgba(46, 47, 66, 0.4);
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .user-input:focus { border-color: #4D5AE5;
     } 
    .user-input:focus + .modal-icon {
        fill: #4D5AE5;}

    .icon-wrap {
        position: relative;
        width: 100%;}
    .modal-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
        fill: 2e2f42;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

  
    .modal-label {
        color: #8E8F99;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        display: block;
        margin-bottom: 4px;
        align-items: center;
    }
    .user-text {
        resize: none;
        height: 120px;
        padding-left: 16px;
        padding-top: 8px;
        color: rgba(46, 47, 66, 0.40);
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        padding: 8px 16px;

    }
.user-text::placeholder {
        color: rgba(46, 47, 66, 0.40);
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }
.policy-link {
        color: #4D5AE5;
            font-size: 12px;
            line-height: 1.33;
            letter-spacing: 0.04em;
            text-decoration-line: underline;
            margin-left: 5px;
    }

.checkbox-div {
        margin-top: 16px;
        margin-bottom: 24px;
    }

.check-span {
    display: inline-flex;
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.40);
        border-radius: 2px;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
        fill: transparent;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.checkbox-input:checked + .modal-label .check-span {
        background-color: #404BBF;
        fill: #f4f4fd;
        border: none;
    }
.send-button {
    display: block;
    color: #FFF;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    padding: 16px 32px;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.send-button:hover, 
.sevd-button:focus {background: #404BBF;}*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}